body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right,  black);
}

#clock {
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  color: transparent;
  text-shadow: 0 0 0.5em #fff,
               0 0 1em #ddd,
               0 0 1.5em #000;
  animation: rainbow 5s infinite linear;
}

@keyframes rainbow {
  0% {
    color: red;
  }
  25% {
    color: orange;
  }
  50% {
    color: yellow;
  }
  75% {
    color: green;
  }
  100% {
    color: red;
  }
}
